body {
    margin: 0;
    height: 100vh;
    background: #1c1c1c;
    font-family: Inter;
}

.main-container {
    margin: 3.125em auto;
    box-sizing: border-box;
    max-width: 800px;
    border: 1px solid #FFFF;
    flex-direction: column;
    padding: 0.625em;
    box-shadow: 0px 4px 11px 0px rgba(0, 0, 0, 0.15);
}

.main-container,
.controls {
    display: flex;
    background-color: #FFFF;
}

.controls {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.25em;
}

button, input,
select {
    cursor: pointer;
    height: 30px;
}

input {
    border: 0.5px solid #313131;
}

select {
    border-radius: 6px;
}

button, select {
    font-family: Inter;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);
    border: 1px solid var(--gray-300, #D1D5DB);
}

button {
    background-color: transparent;
    border-radius: 4px;
}

button:hover {
    background: -webkit-linear-gradient(to right, #FF0080, #FF8C00, #40E0D0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FF0080, #FF8C00, #40E0D0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFF;
}


.color-palette {
    max-width: 100%;
    margin: 0.625em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.color {
    height: 75vh;
}

.color-code {
    color: black;
    background-color: #FFFF;
    text-align: center;
    margin-top: auto;
}