body {
    margin: 0;
    height: 100vh;
    background: #1c1c1c;
}

.main-container {
    margin: 3.125em auto;
    box-sizing: border-box;
    max-width: 800px;
    border: 1px solid #FFFF;
    flex-direction: column;
    padding: 0.625em;
}

.main-container,
.controls {
    display: flex;
    background-color: #FFFF;
}

.controls {
    justify-content: space-between;
    align-items: center;
}

button, input,
select {
    cursor: pointer;
}

.color-palette {
    max-width: 100%;
    margin: 0.625em 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

}

.color {
    height: 75vh;
}

.color-code {
    color: black;
    background-color: #FFFF;
}